<h1>Your Request Has Been Submitted</h1>
<!--<p>Find me in app/views/pages/sms.html.erb</p> -->
<br>

<p>Your Phone Number Was: </p>
<%@phone%>
<br>
<p>Your Text Was: </p>
<%@text%>
<br>
<a href="..">back</a>

<%#byebug%>